{% extends "impl.j2" %}

{% block summary %}
<p>
Dit is het implementatiemodel voor de uitwisseling van informatie over bedrijventerreinen tussen de regional overheid VLAIO en de ontwikkelingsmaatschappijen. 
Het is een implementatie van het applicatieprofiel bedrijventerrein.

</p><p>
{% endblock %}


